.login {
  width: 300px;
}

.box {
  border: 1px solid #1a1f23;
}

.loginbutton {
  width: 300px;
  height: 60px;
  color: #f4f5f6;
}

.continuebutton {
  width: 300px;
  height: 60px;
  color: #1a1f23;
  border: 1px solid #1a1f23;
}

.option {
  color: #1a1f23;
}

/*media query*/

@media (min-width: 640px) {
  .features-2xl {
    width: 600px;
    height: 750px;
  }
}

@media (min-width: 768px) {
  .features-2xl {
    width: 500px;
    height: 650px;
  }
}
